<nb-layout>


    <nb-layout-header fixed *ngIf="isAutenticated" class="d-flex justify-content-end">
      <nb-actions size="medium">
        <nb-action icon="person-outline" routerLink="oauth2"></nb-action>
        <nb-action icon="power-outline" (click)="logout()"></nb-action>
      </nb-actions>
    </nb-layout-header>


  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
